body{
margin-bottom:0px;
margin-top:0px;
background-color:#fff;
}
.container{
width: 100%;
margin:auto 0;
}
.row{
margin-top:2px;
}
.navbar-search{
float: right;
}
.navbar-toggle{
background-color:black;

}

.page-header {
	margin-top:0;
}


#nav a{
background:none;

}
#nav a:hover{
color:green;
text-decoration:underline;

}



.panel-body {
padding-top:0;
}

.featuredimg{
margin-bottom: 15px;
}
.dropdown-menu{

outline:white;
border-radius:80px;
border: 1px solid green;
background-color:white;
text-decoration:none;
}
.navbar{
margin-top:2 px;
margin-bottom:0 auto;
background-color:white;
height:60px;
width:100%;
border-color:green;
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

}
.navbar-brand{
margin:px;
}
.navbar-nav{
margin-bottom:10px;
}
.navbar-text{
margin-top:13px;
margin-bottom:10px;
color:black;
}
.navbar-btn{
margin-top:10px;
margin-right:2px;
margin-bottom:10px;
}
.center{
text-align:right;
margin-top:5px;

}
.center-form{
display:inline-block;

}
.item{
display:inline-block;
height:620px;
}

.carousel-inner{
width:100%;
max-height:650px;
margin-left:0px;

}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-caption{

}
#footer{
margin-bottom:1px;
margin-top:0 auto;
width:100%;


}
.btn{
border-bottom-left-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-top-right-radius:10px;


}
.form-control{
border-bottom-left-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-top-right-radius:10px;
border-color:green;
}
.form-group{
border-bottom-left-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-top-right-radius:10px;

}

.modal-open .modal,.btn:focus{
outline:none!important
}

.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid green;
    border-radius: 100px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
	margin-top:150px;
	margin-bottom:100px;
}
.modal.modal-open {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.panel-body{
margin-left:150px;
margin-top:10px;

}

